@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(2, 93, 34);
}

h1#principal {
    text-align: center;
    background-color: rgb(2, 93, 34);
    color: white;
}

h2 {
    color: rgb(24, 124, 124);
}

.basico {
    color: rgb(87, 223, 94);
}

.intermediario {
    color: rgb(198, 223, 87);
}

.avançado {
    color: rgb(223, 87, 87);
}

.destaque {
    background-color: rgba(255, 255, 30, 0.542);
}